In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

E29_Data_Generation.ipynb            NUS_Mapping.ipynb
FULL_CLEANED_NUS_CHECKIN01.csv       NUS_PL1101E_CH01_RAW.csv
Master_Question_Dictionary.csv       NUS_PL1101E_Roster.csv
NUMERICAL_CLEANED_NUS_CHECKIN01.csv  studentdata/
NUS1_Data_Cleaning.ipynb

In [16]:
data = pd.read_csv('NUS_PL1101_CH01_Raw.csv')

In [17]:
data.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,FullName,Section,Teammate1,Teammate2,Teammate3,Teammate4,Teammate5,Teammate6,TeammateNumber,TeamNumber
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,FullName,Section,Teammate1,Teammate2,Teammate3,Teammate4,Teammate5,Teammate6,TeammateNumber,TeamNumber
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""FullName""}","{""ImportId"":""Section""}","{""ImportId"":""Teammate1""}","{""ImportId"":""Teammate2""}","{""ImportId"":""Teammate3""}","{""ImportId"":""Teammate4""}","{""ImportId"":""Teammate5""}","{""ImportId"":""Teammate6""}","{""ImportId"":""TeammateNumber""}","{""ImportId"":""TeamNumber""}"
2,2023-02-19 20:02:28,2023-02-19 20:16:26,0,137.132.219.2,100,837,1,2023-02-19 20:16:27,R_w7tfBgeBoaJYc4F,NaN,...,BENTON HAY YONG SHENG,TE13,BENTON HAY YONG SHENG,DAI TIANLE,LEE ZI HUI,NAM SOEUN,TAN JIA LIANG,NaN,1,TE13_Team_2
3,2023-02-19 20:22:40,2023-02-19 20:26:56,0,1.46.159.152,100,256,1,2023-02-19 20:26:57,R_D6KMkylV2YamZcR,NaN,...,NEO ZI NING,TE12,CLAUDIA HO MEI SHA,JERMAINE NG JINGWEN,KOH EN XIN JACINDA,LAI JINGYI,NEO ZI NING,NaN,5,TE12_Team_4
4,2023-02-19 20:19:10,2023-02-19 20:27:41,0,137.132.26.12,100,511,1,2023-02-19 20:27:42,R_W84CxhTl3jSHC01,NaN,...,ARDIAN EBONY GOENAWAN,TD6,ANG XIN YI,ARDIAN EBONY GOENAWAN,LIU KERUI,VAN DER MADE IRIS,NaN,NaN,2,TD6_Team_3

In [18]:
data = data.drop(0)

In [19]:
data.head(5)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,FullName,Section,Teammate1,Teammate2,Teammate3,Teammate4,Teammate5,Teammate6,TeammateNumber,TeamNumber
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""FullName""}","{""ImportId"":""Section""}","{""ImportId"":""Teammate1""}","{""ImportId"":""Teammate2""}","{""ImportId"":""Teammate3""}","{""ImportId"":""Teammate4""}","{""ImportId"":""Teammate5""}","{""ImportId"":""Teammate6""}","{""ImportId"":""TeammateNumber""}","{""ImportId"":""TeamNumber""}"
2,2023-02-19 20:02:28,2023-02-19 20:16:26,0,137.132.219.2,100,837,1,2023-02-19 20:16:27,R_w7tfBgeBoaJYc4F,NaN,...,BENTON HAY YONG SHENG,TE13,BENTON HAY YONG SHENG,DAI TIANLE,LEE ZI HUI,NAM SOEUN,TAN JIA LIANG,NaN,1,TE13_Team_2
3,2023-02-19 20:22:40,2023-02-19 20:26:56,0,1.46.159.152,100,256,1,2023-02-19 20:26:57,R_D6KMkylV2YamZcR,NaN,...,NEO ZI NING,TE12,CLAUDIA HO MEI SHA,JERMAINE NG JINGWEN,KOH EN XIN JACINDA,LAI JINGYI,NEO ZI NING,NaN,5,TE12_Team_4
4,2023-02-19 20:19:10,2023-02-19 20:27:41,0,137.132.26.12,100,511,1,2023-02-19 20:27:42,R_W84CxhTl3jSHC01,NaN,...,ARDIAN EBONY GOENAWAN,TD6,ANG XIN YI,ARDIAN EBONY GOENAWAN,LIU KERUI,VAN DER MADE IRIS,NaN,NaN,2,TD6_Team_3
5,2023-02-19 20:22:21,2023-02-19 20:29:05,0,119.234.8.239,100,404,1,2023-02-19 20:29:06,R_1meB0GBo9hZk6oA,NaN,...,KANG YU HUAN,TE19,KANG YU HUAN,NATASHA CHAN KIT YAN,SYAHIN INSYIRAH BINTI SHAIK AHMAD KHAN,YANG XILEI,YAO QIFANG,NaN,1,TE19_Team_1

In [20]:
data = data.drop(1)

In [21]:
data = data.reset_index(drop=True)

In [28]:
data['Q17_1'][0]

'2'

In [29]:
cols_to_map = ['Q2_1',
 'Q2_2',
 'Q2_3',
 'Q4_1',
 'Q4_2',
 'Q4_3',
 'Q4_4',
 'Q16_1',
 'Q16_2',
 'Q16_3',
 'Q16_4',
 'Q16_5',
 'Q16_6',
 'Q17_1',
 'Q17_2',
 'Q17_3',
 'Q17_4',
 'Q17_5',
 'Q17_6',
 'Q18_1',
 'Q18_2',
 'Q18_3',
 'Q18_4',
 'Q18_5',
 'Q18_6',
 'Q19_1',
 'Q19_2',
 'Q19_3',
 'Q19_4',
 'Q19_5',
 'Q19_6']
#mappings = {
#    "Strongly agree" : 3,
#    "Agree" : 2,
#    "Somewhat agree" : 1,
#    "Neither agree nor disagree" : 0,
 #   "Somewhat disagree" : -1,
#    "Disagree" : -2,
#    "Strongly disagree" : -3,
#    np.nan : np.nan
#}
mappings = {
    '1' : 3,
    '2' : 2,
    '3' : 1,
    '4' : 0,
    '5' : -1,
    '6' : -2,
    '7' : -3,
    np.nan : np.nan
}

for col in cols_to_map:
    data[col] = [mappings[response] for response in data[col]]

In [36]:
data["TeammateNumber"]

0      1
1      5
2      2
3      1
4      5
      ..
351    3
352    4
353    2
354    2
355    2
Name: TeammateNumber, Length: 356, dtype: object

In [33]:
#MAKE ALL OTHER NUM COLUMNS NON STRINGS
cols = ['Q5_1', 'Q5_2', 'Q5_3', 'Q5_4', 'Q5_5', 'Q5_6']
for col in cols: 
    data[col] = [float(j) for j in data[col]]

In [37]:
data["TeammateNumber"] = [int(j) for j in data["TeammateNumber"]]

In [38]:
data.to_csv("NUS_PL1101E_CH01_RAW.csv")

In [27]:
#roster mapping
roster = pd.read_csv("NUS_PL1101E_Roster.csv")

In [31]:
roster = roster.drop([455, 456, 457])

In [32]:
roster["TeamNumber"]

0      TD10_Team_1
1      TD10_Team_1
2      TD10_Team_1
3      TD10_Team_1
4      TD10_Team_2
          ...
450    TE22_Team_5
451    TE22_Team_5
452    TE22_Team_5
453    TE22_Team_5
454    TE22_Team_5
Name: TeamNumber, Length: 455, dtype: object

In [24]:
int(roster["TeamNumber"][210][2:].replace("_Team_",""))

131

In [33]:
new_nums = []
for i in range(len(roster)):
    curr_teamnumber = roster["TeamNumber"][i]
    new_num = int(curr_teamnumber[2:].replace("_Team_",""))
    new_nums.append(new_num)

In [34]:
range(len(roster))

range(0, 455)

In [37]:
roster["TeamNumber"] = new_nums

In [40]:
roster.to_csv("NUS_ROSTER_RAW.csv")